@charset "UTF-8";

body {
  background-image: url("../img/bg.jpeg");
}

body header {
  position: absolute;
  width: 420px;
  height: 584px;
  background-color: rgba(0, 0, 0, 0.8);
  left: 0px;
  top: -20px;
}

body header h1 {
  position: relative;
  text-align: center;
  top: 20px;
  color: white;
}

body header img#flechabaixo {
  position: relative;
  height: 365px;
  width: 230px;
  left: 95px;
}

body header ul#opcoes li a {
  color: black;
  transition: 1s;
}

body header ul#opcoes li {
  position: relative;
  text-transform: uppercase;
  list-style: none;
  padding: 3px;
  border: 3px solid black;
  margin: 10px 180px 33px auto;
  background-color: #888888;
  text-align: center;
  left: 69px;
  top: -30px;
  transition: 1s;
}

body header ul#opcoes li:hover {
  border: 3px solid #888888;
  background: black;
}

body header ul#opcoes li:hover a {
  color: white;
}

section#linkssites {
  position: absolute;
  background-color: black;
  height: 500px;
  width: 410px;
  right: 145px;
  top: 32px;
  background-color: rgba(0, 0, 0, 0.8);
  padding: 15px 15px 15px 15px;
}

section#linkssites h1 {
  color: white;
  position: relative;
  text-align: center;
}

table {
  position: relative;
  width: 100%;
  height: 85%;
  color: white;
  border: 1px solid white;
  border-spacing: 0px;
  font-family: 'fonte titulo', 'sans-serif';
}

table td {
  border: 1px solid white;
  font-family: 'fonte texto', 'sans-serif';
}

table td.le {
  background-color: rgba(60, 60, 60, 0.9);
  color: white;
  font-size: 10pt;
}

table td.ld {
  background-color: rgba(130, 130, 130, 0.9);
  color: black;
  font-size: 10pt;
}

table td.ld a {
  color: black;
}