@charset "UTF-8";

@font-face {
  font-family: 'fonte titulo';
  src: url(../../_fonts/bubblegum-sans-regular.otf);
}

@font-face {
  font-family: 'fonte texto';
  src: url(../../_fonts/HinaMincho-Regular.ttf);
}

/*corpo do site*/
/*Preparando o corpo do site*/
body {
  background-image: url("img/bg-home.webp");
}

html {
  border-top: 10px solid rgba(15, 15, 15, 0.9);
  border-left: 80px solid rgba(15, 15, 15, 0.9);
  border-bottom: 60px solid rgba(15, 15, 15, 0.9);
  border-right: 80px solid rgba(15, 15, 15, 0.9);
  /* height: 568px; */
}

/*Planejando preparando os containers*/
div#divprincipal {
  position: relative;
  background-color: rgba(35, 35, 35, 0.7);
  width: 950px;
  height: 410px;
  left: -10px;
  padding: 4px;
  top: -9px;
}

div#divprincipal div#div2 {
  position: relative;
  background: white;
  height: 68%;
  width: 44%;
  left: 55px;
  top: 35px;
  border: 4px solid #888888;
}

/*Trabalhando internamente nos containers*/
div#divprincipal h1 {
  font-family: 'fonte titulo', 'sans-serif';
  position: relative;
  text-align: center;
  color: white;
}

div#divprincipal h3#topicos {
  color: white;
  position: relative;
  float: left;
  left: 50px;
  top: -10px;
  font-family: "fonte titulo", serif;
  font-size: 20pt;
}

div#divprincipal h3#comecar {
  color: white;
  position: relative;
  float: right;
  right: 210px;
  top: -10px;
  font-family: "fonte titulo", serif;
  font-size: 20pt;
}

/*Imagems*/
div#divprincipal img#Flecha {
  position: relative;
  left: 540px;
  top: -180px;
  height: 180px;
  width: 330px;
  transition: 1s;
  clear: both;
}

div#divprincipal img#Flecha:hover {
  left: 525px;
}

div#div2 {
  position: relative;
  width: 100%;
  height: 100%;
}

/*Iframe*/
div#divprincipal div#div2 iframe {
  position: relative;
  height: 100%;
  width: 100%;
}