@charset "UTF-8";

/*Base do site*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url("img/bg.jpg");
}

/*Cabeçalho do site*/
header {
    display: grid;
    padding-top: 1%;
    background-color: rgba(0,0,0,0.8);
    color: white;
    place-items: center;
}

header ul {
    display: flex;
    justify-content: center;
    width: 100vw;
    flex-wrap: wrap;
    align-content: space-between;
    list-style: none;
    text-transform: uppercase;
}

header li {
    padding: 0.4%;
    margin: 0.7%;
    border: 3px solid black;
    background-color: #888888;
    transition: 1s;
}

header h1,
h2,
h3 {
    margin-bottom: 1%;
}

header h3 {
    background-color:#888888;
    text-transform: uppercase;
    border: 5px solid black;
    padding: 0.8% 3%;
    color: black;
    transition: 1s;
}

header h3  a {
    color: black;
    transition: 1s;
}

header h3:hover a {
    color: white;
}

header h3:hover {
    color: white;
    border: 5px solid #888888;
    background-color: black;
}

header li a {
    color: black;
    text-decoration: none;
    transition: 1s;

}

header li:hover {
    background-color: black;
    border: 3px solid #888888;
}

header li:hover a {
    color: white;
}
/*Um media query para em caso de dispositivos móveis ou tela na vertical*/
@media(max-width: 750px) {
    
    header {
        padding-top: 3%;
    }

    header ul {
        display: none;
    }

    header h1,
    h2,
    h3 {
        color: black;
        margin-bottom: 4%;
    }

}
