@charset "UTF-8";

/*Base do site*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url("img/bg.jpg");
}

/*Cabeçalho do site*/
header {
    display: grid;
    padding-top: 1%;
    background-color: rgba(0,0,0,0.8);
    color: white;
    place-items: center;
}

header ul {
    display: flex;
    justify-content: center;
    width: 100%;
    flex-wrap: wrap;
    align-content: space-between;
    list-style: none;
    text-transform: uppercase;
}

header li {
    padding: 0.4%;
    margin: 0.7%;
    border: 0.5vh solid black;
    background-color: #888888;
    transition: 1s;
}

header h1,
h2,
h3 {
    font-size: 4vh;
    margin-bottom: 1%;
}

header h3 {
    background-color:#888888;
    text-transform: uppercase;
    border: 5px solid black;
    padding: 0.8% 3%;
    color: black;
    transition: 1s;
}

header h3  a {
    text-decoration: none;
    color: black;
    transition: 1s;
}

header h3:hover a {
    color: white;
}

header h3:hover {
    color: white;
    border: 0.8vh solid #888888;
    background-color: black;
}

header li a {
    font-size: 1.8vh;
    color: black;
    text-decoration: none;
    transition: 1s;

}

header li:hover {
    background-color: black;
    border: 0.5vh solid #888888;
}

header li:hover a {
    color: white;
}


/*Trabalhando no Corpo do site, preparando os containers que receberão as tabelas com os links.*/
section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2vw;
    padding: 4vh 2vw;
    place-items: center;
    place-content: center;
    min-height: 100vh;
}

.catalogos {
    background-color: rgba(0,0,0,0.8);
    height: 88vh;
    width: 38vw;
}

table {
    display: none;   
}

/*Um media query para em caso de dispositivos móveis ou tela na vertical*/
@media(max-width: 1080px) {
    
    header {
        padding-top: 3%;
    }

    header ul {
        display: none;
    }

    header h1,
    h2,
    h3 {
        color: white;
        margin-bottom: 4%;
    }

    header h1 {
        font-size: 5vh;
    }

    header h2 {
        font-size: 2.7vh;
    }

    section {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(auto-fit, 80vh);
    }

    .catalogos {
        height: 75vh;
        width: 90vw;
        margin-bottom: 3vh; 
    }

}
/*Ajusta o tamanho dos catalogos e fonte dos filtros (Tela vertical)*/
@media(max-height: 500px) {
    .catalogos {
        height: 140vh;
        width: 50vw;
    }
    ul li a {
        font-size: 3vh;
    }
}

/*Define que o grid layout terá 3 colunas permanentes. para dispositivos com uma tela igual ou maior que 1500px.*/
@media(min-width: 1500px) and (min-height: 1500px) {
    section {
        grid-template-columns: repeat(3, 30vw);
    }

    .catalogos {
        height: 70vh;
        width: 25vw;
    }
}
